<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<div th:replace="fragments/header"></div>

<div class="container">

    <p th:if="${#request.getParameter('msg') != null}" class="alert alert-danger" role="alert" th:text="${#request.getParameter('msg')}">A senha está errada</p>


    <div class="row">
        <div class="col-sm">
            Olá <b th:text="${session.logado.name}" ></b>
        </div>
    </div>
    <div class="row">
        <div class="col-sm text-right">
            <a type="button" class="btn btn-primary" th:href="@{/admin/add}">Nova Festa</a>
        </div>
    </div>
<br>

    <table class="table">
        <thead class="thead-dark">
        <tr>
            <th scope="col">#</th>
            <th scope="col">Nome</th>
            <th scope="col">data</th>
            <th scope="col">Convidados</th>
            <th scope="col">Link</th>
        </tr>
        </thead>
        <tbody>


        <tr th:each="party: ${parties}">
            <th scope="row" th:text="${party.id}"></th>
            <td ><a th:text="${party.eventName}" th:href="'/admin/invited/' + ${party.id}"></a></td>
            <td th:text="${party.data}"></td>
            <td th:text="${party.countInvites()}"></td>

            <td ><a th:href="'apagar/' + ${party.id}">Apagar</a></td>
        </tr>



        </tbody>
    </table>



</div>

<div th:replace="fragments/footer"></div>