<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<div th:replace="fragments/header"></div>

<style>
  .tbRow {
    border: 1px solid rgba(0, 0, 0, .125);
  }
</style>
<div class="container">
  <div class="row">
    <span th:if="${detalhes.imagem != null}" class="align-content-center"><img alt="img" th:src="${detalhes.inviteUrl} + '/imagem'" class="img-fluid rounded "></span>

    <div class=" col-md-12">
      <label for="nome">Evento:</label>
      <b th:text="${detalhes.eventName}"></b>
    </div>
    <div class="col-md-12">
      <label for="nome">Data:</label>
      <b th:text="${detalhes.data}"></b>
    </div>
    <div class="col-md-12">
      <label for="nome">Local:</label>
      <b th:text="${detalhes.local}"></b>
    </div>
    <div class="col-md-12">
      <label for="nome">Horário:</label>
      <b th:text="${detalhes.hour}"></b>
    </div>

    <div class="col-md-12">
      <div style="white-space: pre;" th:text="${detalhes.description}"></div>
    </div>
  </div>

  <hr>
  <form method="post" th:action="${urlSave}" >
    <div>Meus dados</div>
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="nome">Nome</label>
        <input type="type" class="form-control" id="nome" name="nome" placeholder="Nome" />
      </div>
      <div class="form-group col-md-6">
        <label for="sobrenome">Sobrenome</label>
        <input type="type" class="form-control" id="sobrenome" name="sobrenome" placeholder="Sobrenome" />
      </div>
    </div>

    <div>Acompanhantes</div>
    <div class="form-row">
      
      <label for="nacompanhantes">Número de acompanhantes</label>
      <select class="form-control" id="nacompanhantes">
        <option selected>Não vou levar nenhum acompanhante</option>
        <option>1</option>
        <option>2</option>
        <option>3</option>
        <option>4</option>
        <option>5</option>
      </select>
    </div>

    <div class="form-row tbConvidados">

    </div>

    <br>
    <div class="form-row">
      <button type="button" onclick="submit()" class="btn btn-primary btn-block">Enviar dados do convite</button>
    </div>


  </form>
</div>

<div th:replace="fragments/footer"></div>

<script>
  function tb($id) {
    $id_humano = $id + 1;
    $template =
      '<div class="form-group col-md-8 rowAcompanhante">'+
        '<label for="nome">Acompanhante ' + $id_humano +'</label>'+
        '<input type="input" class="form-control" name="acompanhante[]" placeholder="Nome"/>' +
      '</div>' +  
      '<div class="form-group col-md-4 rowAcompanhante">'+
        '<label for="nome" class="input_checkbox">Se for criança, informe a idade</label>' +
      '<input type="input" class="form-control" name="idade[]" placeholder="Idade da criança" />' +
      '</div><hr>'
    return $template;
  }

  function checkCrianca(val){
    console.log(val, $(val).val());

    select = $(val).parent().parent();
    if($(val).is(":checked")){
      select.find('input.form-control').removeClass('d-none');
      select.find('.input_checkbox').hide();
    }else{

     select.find('input.form-control').addClass('d-none');
    }

  }

  $("#nacompanhantes").change(function (v) {
    qtd = $(this).val();

    $(".tbConvidados").html("");
    for (let index = 0; index < qtd; index++) {
      $(".tbConvidados").append(tb(index));

    }
  });
</script>

</html>